<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Bataille Navale</title>
    <link href="game.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="grid"></div>

    <div id="paternSelectors">
        <button class="patternChanger" id="boat1">Bateau 1</button>
        <button class="patternChanger" id="boat2">Bateau 2</button>
    </div>

    <div>
        <button id="valider">Valider le placement</button>
        <button id="delete">Supprimer</button>
    </div>

    <script src="game.js"></script>
</body>

</html>