body {
    background-color: #181a1b;
}

#grid {
  --cols: 6;

  grid-template-columns: repeat(var(--cols), 40px);
  display: grid;
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background: lightblue;
  border: 1px solid black;
}

.cell.highlighted {
  background: lightgreen;
}

.cell.forbidden, .cell.boat.forbidden  {
  background: red;
}

.cell.boat {
  background: lightcoral;
}

.coo_cell {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  color: white;
}